#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.card-container {
  display: flex;
  gap: 20px; 
  justify-content: center; 
  flex-wrap: wrap; 
  margin-top: 20px;
}

.card {
  background-color: #ffffff; 
  border-radius: 12px;       
  padding: 20px;             
  width: 250px;              
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  text-align: left;          
  color: #333;               
  transition: transform 0.2s; 
  border: 1px solid #ddd;    
}

.card:hover {
  transform: translateY(-5px); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card p {
  margin: 8px 0; 
  font-size: 16px;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
